<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <form [formGroup]="workerForm" class="flex flex-col">
    <!-- No ID input field for new workers -->
    <mat-form-field color="accent" *ngIf="isEditing">
      <mat-label>Id</mat-label>
      <input matInput formControlName="id" placeholder="Id">
    </mat-form-field >
    <mat-form-field color="accent">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name">
      <mat-error *ngIf="isInvalid(name!)">
        Name is required
      </mat-error> 
    </mat-form-field>
    <app-async-autocomplete
        label="Crew manager"
        [data]="data.crewManagerService.crewManagers$"
        [value]="data.relationships?.crewManager"
        (filteredBy)="onFilteredBy($event)"
        (selectedItem)="onSelectedItem($event)"
    ></app-async-autocomplete>
    <app-image-upload [selectedImage]="image?.value" (imageSelected)="onImageSelected($event)"></app-image-upload>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button color="primary" [disabled]="!workerForm.valid" (click)="onSave()">Save</button>
  <button mat-button color="secondary" (click)="onCancel()">Cancel</button>
</mat-dialog-actions>