<mat-form-field class="w-full">
  <mat-label>{{this.label}}</mat-label>
  <input #input type="text" placeholder="Pick one" matInput [formControl]="myControl" [matAutocomplete]="auto"
    (keyup)="filter()" />
  <mat-error>{{this.label}} is required</mat-error>
  <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="wrapDisplayFn()">
    <cdk-virtual-scroll-viewport #scroller itemSize="25" class="h-[256px]">
      <ng-container  *cdkVirtualFor="let option of items; trackBy: trackItem" >
        <mat-option [value]="option">
          {{option[displayAttr]}}
        </mat-option>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </mat-autocomplete>
</mat-form-field>