<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
  </button>
  <span>Events Logger</span>
</mat-toolbar>

<mat-sidenav-container class="!absolute top-0 bottom-0 left-0 right-0 mt-[56px]">
  <mat-sidenav #sidenav  [class.w-72]="!isHandset" [mode]="isHandset ? 'over' : 'side'">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>