<mat-nav-list>
  <div routerLinkActive #crla="routerLinkActive">
    <mat-list-item routerLink="/projects">
      <div class="flex justify-between">
        <span>Configurations</span>
        <mat-icon>{{ crla.isActive ? 'expand_less' : 'expand_more' }}</mat-icon>
      </div>
    </mat-list-item>

    <mat-list-item class="!pl-8" [ngClass]="{'!hidden': !crla.isActive}" routerLinkActive="active"
      routerLink="/projects" (click)="clickedRouterLinkItem.emit()">Projects</mat-list-item>
    <mat-list-item class="!pl-8" [ngClass]="{'!hidden': !crla.isActive}" routerLinkActive="active" 
    routerLink="/crew-managers" (click)="clickedRouterLinkItem.emit()">Crew managers</mat-list-item>
    <mat-list-item class="!pl-8" [ngClass]="{'!hidden': !crla.isActive}" routerLinkActive="active"
      routerLink="/workers" (click)="clickedRouterLinkItem.emit()">Workers</mat-list-item>
  </div>

  <mat-list-item routerLinkActive="active" routerLink="/event-logger" (click)="clickedRouterLinkItem.emit()">
    Event logger
  </mat-list-item>

  <div routerLinkActive #rrla="routerLinkActive">
    <mat-list-item routerLink="/total-hours-per-project">
      <div class="flex justify-between">
        <span>Reports</span>
        <mat-icon>{{ rrla.isActive ? 'expand_less' : 'expand_more' }}</mat-icon>
      </div>
    </mat-list-item>

    <mat-list-item class="!pl-8" [ngClass]="{'!hidden': !rrla.isActive}" routerLinkActive="active"
      routerLink="/total-hours-per-project" (click)="clickedRouterLinkItem.emit()">
        Total hours per project
    </mat-list-item>
    <mat-list-item class="!pl-8" [ngClass]="{'!hidden': !rrla.isActive}" routerLinkActive="active"
      routerLink="/total-hours-per-crew" (click)="clickedRouterLinkItem.emit()">
        Total hours per crew manager
    </mat-list-item>
    <mat-list-item class="!pl-8" [ngClass]="{'!hidden': !rrla.isActive}" routerLinkActive="active"
      routerLink="/total-hours-per-manager" (click)="clickedRouterLinkItem.emit()">
        Total hours per worker
    </mat-list-item>
  </div>
</mat-nav-list>